/* padding shorthand: top right bottom left */



/* NAV BAR */
#mainNav{
    position: fixed;
    width: 100%;
    background: white;
    z-index: 10;
}
.mainNav {
    text-align: center;
    height: 5rem;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.068);
}

.nav {
    display: inline-block;
    padding-top: 2rem;
    /* creates spaces between the links */
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

button {
    color: white;
    background-color: #7BAE7F;
    border: none;
    border-radius: 1.5em;
    font-family: 'AtkinsonHyperlegible', Verdana, Arial, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
    padding: 6%;
}

button:hover {
    background-color: #335c27;
}

.fa-circle {
    color: #8EC37E;
    scale: 0.3;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:visted {
    color: rgb(130, 228, 110);
}

a:link {
    color: rgb(0, 0, 0);
}

a:hover {
    color: #8EC37E;
}

a:focus {
    color: black;
} 

#newsletter {
    display: block;
    position: absolute;
    /* right: var(--big-padding); */
    right: 4.76rem;
    top: -0.6em;
    /* opacity: 0;
    height: 0;
    pointer-events: none; */
}

#newsletterIcon {
    padding: .5em;
}
#newsletterIconButton {
    position: absolute;
    border-radius: 1.5vh;
}

#newsletterIconVersion {
    display: block;
    position: absolute;
    right: 4.76rem;
    top: -0.6em;
    opacity: 0;
    height: 0%;
    pointer-events: none;
    /* hides by making height 0, pointer events none, opacity 0.*/
}

#logo {
    position: absolute;
    height: 5rem;
    left: 4.76rem;
    padding-left: var(--big-padding);
    pointer-events: none;
}



/* FONTS */
@font-face {
    font-family: AtkinsonHyperlegible;
    src: url('fonts/AtkinsonHyperlegible-Regular.ttf');
}

@font-face {
    font-family: AtkinsonHyperlegibleBold;
    src: url('fonts/AtkinsonHyperlegible-Bold.ttf');
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

body {
    font-family: 'AtkinsonHyperlegible', Verdana, Arial, sans-serif;
    font-size: 1.1rem;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-left: var(--big-padding);
    padding-right: var(--big-padding);;
    padding-top: 25vh;
    transition: ease all .5s;
}

p{
    color: #1E1E1E;
}



/* MINE */

#mainTitle {
    font-family: 'AtkinsonHyperlegibleBold', Verdana, Arial, sans;
    font-size: 2rem;
    display: inline-block;
    color: #353535;
    margin: 20px;
    /* padding-bottom: 0.4em; */
    /* display: inline; */
    /* font-weight: bold; */
}

#banner {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    opacity: 60%;
}

#TeamMembers {
    display: flex;
    flex-direction: row;
    margin: 30px
}

.TeamMember {
    margin: 3em;
    padding: 1em;
    flex: 1;
    border-radius: 1em;
    background-color: #7BAE7F;
    box-shadow: 0 0 10px #1E1E1E;
}

#Outlier {
    background-color: rgba(123, 174, 127, 0.4)
    ;
}

.MemberContent {
    margin-top: 0.5em;
    line-height: 30px;
}