:root {
    --big-padding: 12rem;
    --medium-padding: 5rem;
    --small-padding: 1.5rem;
}

@font-face {
    font-family: AtkinsonHyperlegible;
    src: url('fonts/AtkinsonHyperlegible-Regular.ttf');
}

@font-face {
    font-family: AtkinsonHyperlegibleBold;
    src: url('fonts/AtkinsonHyperlegible-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

body {
    font-family: 'AtkinsonHyperlegible', Verdana, Arial, sans-serif;
    font-size: 1.1rem;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-left: var(--big-padding);
    padding-right: var(--big-padding);;
    padding-top: 10em;
    transition: ease all .5s;
}

p{
    color: #1E1E1E;
}

/* NAVBAR */

#mainNav{
    position: fixed;
    width: 100%;
    background: white;
    z-index: 10;
}
.mainNav {
    text-align: center;
    height: 5rem;
    box-shadow: 0px 1px 4px 0 rgba(0, 0, 0, 0.068);
}

.nav {
    display: inline-block;
    padding-top: 2rem;
    /* creates spaces between the links */
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

button {
    color: white;
    background-color: #7BAE7F;
    border: none;
    border-radius: 1.5em;
    font-family: 'AtkinsonHyperlegible', Verdana, Arial, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
    padding: 0.7em;
}

button:hover {
    background-color: #335c27;
}

.fa-circle {
    color: #8EC37E;
    scale: 0.3;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:visted {
    color: rgb(130, 228, 110);
}

a:link {
    color: rgb(0, 0, 0);
}

a:hover {
    color: #8EC37E;
}

a:focus {
    color: black;
} 

#newsletter {
    display: block;
    position: absolute;
    right: var(--big-padding);
    top: -0.6em;
    opacity: 0;
    height: 0;
    pointer-events: none;
}

#newsletterButton {
    padding: 6%;
}

#newsletterIcon {
    padding: .5em;
}
#newsletterIconButton {
    position: absolute;
    border-radius: 1.5vh;
    padding: 6%;
}

#newsletterIconVersion {
    display: block;
    position: absolute;
    right: 4.76rem;
    top: -0.6em;
    opacity: 0;
    height: 0%;
    pointer-events: none;
    /* hides by making height 0, pointer events none, opacity 0.*/
}

.logo {
    position: absolute;
    height: 5rem;
    padding-left: var(--big-padding);
    pointer-events: none;
}



h4 {
    font-family: 'AtkinsonHyperlegibleBold', Verdana, Arial, sans-serif;
    font-size: 1.1rem;
}

h3 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
}

#footerLogo{
    height: 10vw;
    max-height: 20rem;
    position: absolute;
}
footer{
    padding-top: 2rem;
    background-color: black;
    height: 23rem;
    padding-left: var(--big-padding);
    padding-right: var(--big-padding);

}

footer p{
    color: white;
}

footer li{
    color: #BCBCBC;
}

#copyright {
    display: block;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.506);
    left: 0px;
    right: 0px;
    padding: 8px;
    top: 0rem;
    border-radius: 8vh;
    color: rgb(199, 199, 199);
    font-size: 0.8rem;
}
#copyright a:not(:hover){
    color: rgb(218, 218, 218);
} 

.pages{
    float: right;
}

.pages h3{
    display: inline-block;
}

.pages li{
    padding-bottom: 0.7rem;
}
.pages a{
    color: #BCBCBC;
    display:inline;
    width: 10px;
}

.pages a:hover{
    color: #8EC37E;
}

#signUpPlead{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    left: -7rem;
    text-align: center;
}

#formContainer{
    display: inline-block;
    display: block;
    padding-bottom: 2rem;
}

fieldset {
    margin: 0 auto;
    padding-left: 3.65rem;
    justify-content: center;
    display: grid;
    grid-template-columns: 3fr, 1fr;
    grid-template-rows: 3fr, 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 16px; 
    border: none;   
    padding-bottom: 1.5rem;
    width: 0px;

}

input {
    width: auto;
}

textarea {
    width: auto;
}

.grid-item{
    background-color:#272727;
    width: 15rem;
    padding: 14px 14px;
    border: none;
    outline: white;
    color: rgb(218, 218, 218);
    font-size: 0.9rem;
    resize: none;
    border-radius: 0.3rem;
    font-family: 'AtkinsonHyperlegible', Verdana, Arial, sans-serif;
}

fieldset input::placeholder, textarea::placeholder {
    color: rgb(234, 234, 234);
    font-family: 'AtkinsonHyperlegible', Verdana, Arial, sans-serif;
}

fieldset input:focus, textarea:focus{
    outline: solid 2px rgb(64, 64, 64);
}

#submit{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 6rem;
}



#firstname { grid-area: 1 / 1 / 2 / 2; }
#surname { grid-area: 2 / 1 / 3 / 2; }
#email { grid-area: 3 / 1 / 4 / 2; }
#comments { grid-area: 1 / 2 / 4 / 4; } 



#mainTitle {
    font-family: 'AtkinsonHyperlegibleBold', Verdana, Arial, sans;
    font-size: 2rem;
    display: inline-block;
    color: #353535;
    margin: 20px;
}

#banner {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    opacity: 60%;
}

#TeamMembers {
    display: flex;
    flex-direction: row;
    margin: 30px
}

#outlier {
    background-color: rgba(123, 174, 127, 0.4);
}

.TeamMember {
    margin: 3%;
    padding: 1em;
    flex: 1;
    border-radius: 1em;
    background-color: #8DCDA7;    ;
    box-shadow: 0 0 5px #1E1E1E;
}

.MemberContent {
    margin-top: 0.5em;
    line-height: 30px;
}

.MemberName {
    font-size: 150%;
}

@media only screen and (max-width: 1427px){
    footer {
        padding-left: var(--medium-padding);
        padding-right: var(--medium-padding);
    }
}

@media only screen and (max-width: 1427px) {
    #newsletter {
        right: var(--medium-padding);
        transition: ease all .5s;
    }
}

@media only screen and (min-width: 1100px){
    #newsletter {
        /* visibility: visible; */
        pointer-events: all;
        opacity: 1;
        transition: ease-out all .5s;
    }
}

@media only screen and (max-width: 1427px){
    .logo {
        padding-left: var(--medium-padding);
        transition: ease all .5s;
    }
}

@media only screen and (max-width: 1100px){
    #newsletterIconVersion {
        /* visibility: visible; */
        opacity: 1;
        pointer-events: all;
        transition: ease-out all .5s;
    }
}